#column{
    box-sizing: border-box;
    border-radius: 10px;
    margin: 5%;
    margin-left: 10%;
    width: 60%;
    /* margin-left: 15%; */
    padding: 20px;
    border: 2px solid midnightblue;
}
.borderless td, .borderless th {
    border: none;
}
/* #btn{
    padding: 7px;
    border-radius: 15px;
    text-decoration-color: tomato;
} */